<<<<<<< HEAD
.stopka {
    background: #000;
}

.zawartosc-stopki {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.sekcja-stopki {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
}

.sekcja-stopki h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.sekcja-stopki p, .sekcja-stopki a {
    color: #999;
    text-decoration: none;
    line-height: 1.6;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.sekcja-stopki a:hover {
    color: #fff;
}

.linia1 {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 40px 0;
=======
.stopka {
    background: #000;
}

.zawartosc-stopki {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.sekcja-stopki {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
}

.sekcja-stopki h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.sekcja-stopki p, .sekcja-stopki a {
    color: #999;
    text-decoration: none;
    line-height: 1.6;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.sekcja-stopki a:hover {
    color: #fff;
}

.linia1 {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 40px 0;
>>>>>>> 904764b (Initial commit)
} 